.flights-list {
    padding: 0;
    list-style: none;
  }
  
  .flights-list li{
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .flights-list li h2{
    margin: 0 0 5px 0;
    font-size: 18px;
  
  }
  
  .flights-list li a{
    margin-top: 10 px;
    color: blue;
    display: block;
    text-decoration: none;
  }
  
  .flights-info{
    display: flex;
  }
  
  .flights-info img{
    margin-right: 20px;
    float: left;
  }
  
  .flights-data{
    display: inline-block;
  
  }